.container {
  font-family: "Ubuntu", sans-serif;
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  padding-bottom: 10px;
}

input {
  padding: 10px;
}

h2 {
  padding-top: 30px;
}

h3 {
  padding-bottom: 10px;
}

.current-temperature {
  font-size: 48px;
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details {
  font-size: 18px;
}

.high {
  font-size: 20px;
}

.low {
  font-size: 20px;
}

.low-temperature-value {
  opacity: 0.6;
}

.weather-forecast-temperature-low {
  opacity: 0.6;
}

i {
  font-size: 40px;
  padding: 15px;
  text-align: left;
}

.source-code {
  padding-left: 120px;
  padding-top: 30px;
}
